.follower-card {
  width: 200px;
  display: flex;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  border-radius: 20px;
}
.follower-card:hover {
  background-color: #A7F3D0;
  border-color: #A7F3D0;
  cursor: pointer;
  transform: scale(1.01);
}


.avatar {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

