.public-profile {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .public-profile h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .public-profile p {
    margin-bottom: 10px;
  }
  

  
  .public-profile button:hover {
    background-color: #0056b3;
  }
  .public-profile {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 30%;
    max-width: 500px;
}

.author {
    display:flex;
    justify-content: flex-end;
}

button {
    display: flex;
    justify-content: space-between;
}

hr {
    border: 2px solid #A7F3D0
}