.post-card {
  display: flex; 
  flex-direction: column; 
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  border-radius: 20px;
  transition: all .2s ease-in-out;
  z-index: 9999;  
}

.post-card h2 {
  margin-bottom: 8px;
  font-size: 18px;
}

.post-card p {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.post-text {
  flex: 1; 
}

.post-card p:last-child {
  margin-left: auto; 
  font-weight: bold;
}

.post-card:hover {
  background-color: #A7F3D0;
  border-color: #A7F3D0;
  cursor: pointer;
  transform: scale(1.01);
}
